/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-container {
  background-color: #ffffff;
  width: 60vw;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  align-self: center;
}
.heading {
  color: #000000;
  font-family: 'Roboto';
}
.count {
  color: #ffd569;
  font-family: 'Roboto';
}
.button {
  background-color: #007bff;
  color: #ffffff;
  font-family: 'Roboto';
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  margin-top: 20px;
}
.image {
  height: 200px;
  width: 200px;
}

.fruits {
  margin: 15px;
}

@media (min-width: 768px) {
  .fruits-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
  }
}
